.containerRose {
  width: 100rem;
  background: linear-gradient(to bottom, #ffe6e6, #ffd7d7);
  padding: 2rem 0;
  height: 33rem;
  display: flex; /* Ajout de cette ligne */
  justify-content: center; /* Ajout de cette ligne */
}

.carouselContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  display: flex; /* Ajout de cette ligne */
  justify-content: center; /* Ajout de cette ligne */
  align-items: center; /* Ajout de cete ligne */
}

.carouselImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

/* Styles pour les flèches de navigation */
.splide__arrows {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.splide__arrow {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.splide__arrow:hover {
  background-color: #555;
}

/* Styles pour les points de pagination */
.splide__pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.splide__pagination__page {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.splide__pagination__page.is-active {
  background-color: #333;
}


