/* categoriesDropdown.module.css */

/* Styles pour le bouton de la liste déroulante */
.dropdownToggle {
    background-color: #007bff;
    color: #4daf20d3;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .dropdownToggle:hover {
    background-color: #0056b3;
  }
  
  /* Styles pour le positionnement de la liste déroulante */
  .dropdownContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }