/* src/styles/Footer.module.css */
.footer {
    background: white;
    text-align: center;
    padding: -3rem 0;
    position: sticky;
    bottom: 0;
    width: 100%;
  }
  
  .links {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .link {
    display: inline-block;
  }
  
  .icon {
    width: 3.5rem;
    height: 3.5rem;
    transition: transform 0.3s;
  }
  
  .icon:hover {
    transform: scale(1.1);
  }
  