/* styles/header.module.css */
.header {
  display: flex;
  justify-content: center; /* Centers the image horizontally */
  align-items: center; /* Centers the image vertically */
  height: 16vh; /* Example height */
  background: white;
}

.logo {
  height: 13rem;
}
