.heroSection {
  display: flex;
  height: 100vh;
  background-image: url('/Backportfolio.jpg');
  background-size: cover;
  background-position: center;
}

.sidebar {
  border: none;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebarFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.icon {
  width: 35px;
  height: 35px;
  margin: 0 5px; /* Espace entre les icônes */
}

.navItem {
  margin-bottom: 1.25rem;
  padding: 2rem 3rem;
  background: none; /* Pas de fond */
}

.navItem span {
  color: transparent; /* Texte transparent pour appliquer le dégradé */
  background: linear-gradient(45deg, #00a8ff, #9c27b0);
  -webkit-background-clip: text; /* Appliquer le dégradé au texte */
  background-clip: text;
  font-size: 1.25rem;
  justify-content: center;
}

.navItem:hover span {
  color: whitesmoke; /* Changement de couleur au survol */
  background: none;
  -webkit-background-clip: text;
  background-clip: text;
}

.activeNavItem span {
  color: transparent;
  background: linear-gradient(45deg, #00a8ff, #9c27b0); /* Appliquer le dégradé pour l'onglet actif */
  -webkit-background-clip: text;
  background-clip: text;
}

.heroContent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #fff;
}

.typedText {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
}

.logo {
  width: 70px; /* Taille du logo */
  height: 50%; /* Pour conserver les proportions */
  margin-left: 100%; /* Centrer le logo horizontalement */
}
