/* Styles pour la carte */
.card {
  border: 1px solid #ccc; /* Bordure de la carte */
  border-radius: 8px; /* Coins arrondis */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre */
  
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Légèrement plus d'ombre au survol */
  transform: translateY(-2px); /* Léger décalage vers le haut au survol */
}

/* Styles pour l'image de la carte */
.card-img-top {
  height: 355px; /* Hauteur de l'image */
  object-fit: cover; /* Pour remplir complètement le cadre */
  border-top-left-radius: 8px; /* Coins arrondis pour le haut gauche */
  border-top-right-radius: 8px; /* Coins arrondis pour le haut droit */
}

/* Styles pour le contenu de la carte */
.card-body {
  padding: 1.5rem; /* Espacement interne du contenu */
}

.card-title {
  font-size: 1.25rem; /* Taille de la police du titre */
  font-weight: bold; /* Police en gras */
}

.card-text {
  color: #666; /* Couleur du texte */
  font-size: 1rem; /* Taille de la police du texte */
}

/* Média query pour les écrans plus petits */
@media (max-width: 576px) {
  .card-img-top {
    height: 150px; /* Réduire la hauteur de l'image pour les petits écrans */
  }

  .card-title {
    font-size: 1rem; /* Réduire la taille de la police du titre pour les petits écrans */
  }

  .card-text {
    font-size: 0.875rem; /* Réduire la taille de la police du texte pour les petits écrans */
  }
}