.container {
  max-width: 100%;
  padding: 0 3rem;
  margin: 1 auto;
  text-align: center;
  margin-top: 9.35rem;
  background-color: #000000; /* Fond noir mat */
  padding-bottom: 4rem;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  background: linear-gradient(45deg, #00a8ff, #9c27b0);
  -webkit-background-clip: text;
  background-clip: text; /* Standard property */
  -webkit-text-fill-color: transparent;
 padding-top: 2.5rem; 
}

.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%; /* Ajustement de la largeur */
  margin: 0 auto; /* Centrage horizontal */
  background-color: #000000; /* Fond noir pour les cartes */
  transition: all 0.3s ease; /* Transition pour l'effet d'agrandissement/rétrécissement */
  border-radius: 35px; /* Bordure arrondie */
  border-width: 2.5px; /* Épaisseur de la bordure */
  border-style: solid; /* Style de la bordure */
  border-image: linear-gradient(45deg, #00a8ff, #9c27b0) 1; /* Dégradé linéaire comme bordure */
  border-image-slice: 1; /* Répéter le dégradé sur toute la bordure */
}


.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}


.card-img-top {
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 9.2px;
  width: 100%;
  height: 250px;
}

.card-body {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  color: #ffffff; /* Texte blanc */
}

.card-text {
  color: #ffffff;
  font-size: 1rem;
  overflow: hidden;
  transition: max-height 0.3s ease;
  max-height: none; /* Supprimer la hauteur maximale pour afficher tout le texte */
  white-space: pre-wrap; /* Ajout pour gérer les sauts de ligne */
  text-align: left;
  padding-top: 0.5rem;
}

.descriptionContainer {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
}

.demoButton {
  margin-top: auto;
  align-self: center;
  background: linear-gradient(45deg, #00a8ff, #9c27b0);
  border-color: rgba(66, 133, 244, 1);
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.demoButton:hover {
  background-color: rgba(66, 133, 244, 0.8);
  border-color: rgba(66, 133, 244, 0.8);
  transform: translateY(-2px);
}

.demoButton:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(66, 133, 244, 0.5);
}

.demoButton:active {
  background-color: rgba(66, 133, 244, 0.6);
  border-color: rgba(66, 133, 244, 0.6);
  transform: translateY(0);
}



